{% extends "base.html" %} {% block title %}Home{% endblock %} {%block content %}

<div>
  <section id="Bugatti Chiron">
    <br /><br />
    <figure>
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.3ZP0TBB_eF8dYP-_0JamSAHaEp%26pid%3DApi&f=1&ipt=aabf3716d15b7fe439989f3327d8f20e6e3d435b3d309583d4ce5a34aea91bd3&ipo=images"
        width="200px" />
      <figcaption>Bugatti Chiron</figcaption>
      <br />
      The Bugatti Chiron is a mid-engine two-seater sports car designed and
      developed in Germany by Bugatti Engineering GmbH and manufactured in
      Molsheim, France, by French automobile manufacturer Bugatti Automobiles
      S.A.S. The successor to the Bugatti Veyron, the Chiron was first shown at
      the Geneva Motor Show on 1 March 2016. The car's design was initially
      previewed with the Bugatti Vision Gran Turismo concept car unveiled at the
      2015 Frankfurt Auto Show. The car is named after the Monégasque driver
      Louis Chiron. The car shares the name with the 1999 Bugatti 18/3 Chiron
      concept car.
    </figure>
  </section>
</div>

{% endblock %}
