{% extends "base.html" %} {% block title %}Home{% endblock %} {%block content %}

<div>
  <section id="MPH to M/S">
    <figure>
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.vF104ShJB0vTnf3cM0Zl9QHaHa%26pid%3DApi&f=1&ipt=55cca765607bf0afaea3b34eb3ab09b5463f83d932947c1ba14fd41ec16b181a&ipo=images"
        width="200px" />
      <figcaption>MPH to M/S</figcaption>
    </figure>
    <article>
      <fieldset>
        <legend>MPH to M/S</legend>
        <label for="MPH to M/S">MPH</label><br />
        <input type="number" id="M" /><br />
        <button id="Miles">Convert</button><br />
        <input type="number" id="m" /><br />
        <label for="MPH to M/S"> Meters Per Second</label><br />
      </fieldset>
    </article>
  </section>
</div>

<div>
  <section id="KM/h to M/S">
    <figure>
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.vF104ShJB0vTnf3cM0Zl9QHaHa%26pid%3DApi&f=1&ipt=55cca765607bf0afaea3b34eb3ab09b5463f83d932947c1ba14fd41ec16b181a&ipo=images"
        width="200px" />
      <figcaption>KM/h to M/S</figcaption>
    </figure>

    <article>
      <fieldset>
        <legend>KM/h to M/S</legend>
        <label for="KM/h to M/S">KM/h</label><br />
        <input type="number" id="K" /><br />
        <button id="Kilometers">Convert</button><br />
        <input type="number" id="m" /><br />
        <label for="KM/h to M/S"> Meters Per Second</label><br />
      </fieldset>
    </article>
  </section>
</div>

{% endblock %}
