{% extends "base.html" %} {% block title %}Home{% endblock %} {%block content %}

<div>
  <!--Image syntax-->
  <section id="about">
    <figure>
      <img
        src="/static/ettori-bugatti.png"
        width="400px"
        height="267px"
        alt="Ettori Bugatti's picture"
        loading="lazy" />
      <figcaption>Ettori Bugatti (Founder)</figcaption>
    </figure>

    Ettori Bugatti was the legendary founder of the Bugatti company and the
    designer of the most successful race cars and luxurious vehicles of his day.
    Known as a major pioneer within automotive engineering and his name has
    lived on, beyond his passing to produce automobiles that would have made him
    proud had he lived on. Modern day Bugatti's have walked the fine line
    between between speed and luxury. Until the Veyron and Chiron it was safe to
    say not many automobiles that focused on speed managed to incorporate luxury
    in their models also.
  </section>
</div>

{% endblock %}
