<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Additional meta data author and description-->
    <meta name="author" content="Knowledge" />
    <meta name="description" content="Bugatti Web Application" />
    <!--Static image code to be placed within tab icon-->
    <link rel="icon" href="/static/Bugatti.jpg" type="image/x-icon" />
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <!--Nav bar that collapses and alters depending on screen width or resolution-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <!--Code to display only nav headers once a user is authenticated via Jinja template string-->
          {% if user.is_authenticated %}
          <!--Logout Nav link, only displayed once authenticated-->
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          <!--Purchase form Nav link, again only displayed once logged in-->
          <a
            class="nav-item nav-link"
            id="submit-purchase-form"
            href="/submit-purchase-form"
            >Submit Purchase Form</a
          >

          {% else %}
          <!--Nav link for about-->
          <a class="nav-item nav-link" id="about" href="/about">About</a>
          <!--Nav link for History-->
          <a class="nav-item nav-link" id="history" href="/history">History</a>
          <!--Nav link for Bugatti Chiron-->
          <a
            class="nav-item nav-link"
            id="bugatti-chiron"
            href="/bugatti-chiron"
            >Bugatti Chiron</a
          >
          <!--Nav link for speed conversion page-->
          <a class="nav-item nav-link" id="conversion" href="/conversion"
            >Speed Conversions</a
          >
          <!--Nav link for login, notice it's included within the else statement-->
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <!--Nav link for Sign Up-->
          <a class="nav-item nav-link" id="sign-up" href="/sign-up">Sign Up</a>
          {% endif %}
          <button class="btn"><i class="fa fa-home"></i>Top</button>
        </div>
      </div>
    </nav>
    <footer
      id="footer-wrapper"
      style="
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.2) 0px,
          4px, 8px, 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
      "
      data-darkreader-inline-boxshadow="">
      <div class="container row-x1">
        <div class="footer-widgets-wrap">
          <div
            id="footer1"
            class="footer freebify-pro-widget-ready section"
            name="footer1">
            <div id="text1" class="widget Text" data-version="2">
              <h3 class="title">About Us</h3>
            </div>
            <div>
              We at Bugatti have a mission to design the best cars in automobile
              history. With dedicated scientists and engineers pioneering within
              their industry, we aim to maintain the finest standards and the
              highest quality.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
