{% extends "base.html" %} {% block title %}Home{% endblock %} {%block content %}

<div>
  <section id="bugatti-veyron">
    <br /><br />
    <!--Image syntax-->
    <figure>
      <img
        src="/static/veyron.jpg"
        width="400px"
        height="224px"
        alt="Veyron"
        loading="lazy" />
      <figcaption>Bugatti Veyron</figcaption>
      <br />
      The Bugatti Veyron EB 16.4 is a mid-engine sports car, designed and
      developed in Germany by the Volkswagen Group and Bugatti and manufactured
      in Molsheim, France, by French automobile manufacturer Bugatti. It was
      named after the racing driver Pierre Veyron. The original version has a
      top speed of 407 km/h (253 mph). It was named the 2000s Car of the Decade
      by the BBC television programme Top Gear. The standard Veyron also won Top
      Gear's Best Car Driven All Year award in 2005.
    </figure>
  </section>
</div>

{% endblock %}
