{% extends "base.html" %} {% block title %}Home{% endblock %} {%block content %}

<head>
  <h3>Price: $2,500,000</h3>
</head>

<div class="container clearfix my-5">
  <section id="Bugatti Chiron">
    <br /><br />
    <!--Image syntax-->
    <figure>
      <img
        src="/static/chiron.jpg"
        width="200px"
        height="200px"
        alt="Chiron"
        class="img-fluid rounded col-md-6 float-md-end mb-3 ms-md-3" />
      <figcaption>Bugatti Chiron</figcaption>
      <br />
      <article>
        The Bugatti Chiron is a mid-engine two-seater sports car designed and
        developed in Germany by Bugatti Engineering GmbH and manufactured in
        Molsheim, France, by French automobile manufacturer Bugatti Automobiles
        S.A.S. The successor to the Bugatti Veyron, the Chiron was first shown
        at the Geneva Motor Show on 1 March 2016. The car's design was initially
        previewed with the Bugatti Vision Gran Turismo concept car unveiled at
        the 2015 Frankfurt Auto Show. The car is named after the Monégasque
        driver Louis Chiron. The car shares the name with the 1999 Bugatti 18/3
        Chiron concept car.
      </article>
    </figure>
  </section>
</div>

{% endblock %}
