{% extends "base.html" %} {% block title %}Home{% endblock %} {%block content %}

<div class="container mt-5">
  <section id="speed">
    <div class="container my-5 col-md-6 offsett-md-2">
      <section id="mph to ms">
        <!--Image syntax-->
        <figure>
          <img
            src="{{ url_for('static', filename='speed-img.jpg') }}"
            width="400px"
            height="267px"
            alt="Speed"
            loading="lazy"
            class="img-fluid rounded col-md-6 float-md-end mb-3 ms-md-3" />
          <figcaption
            class="img-fluid rounded col-md-6 float-md-end mb-3 ms-md-3 text-center">
            MPH to M/S
          </figcaption>
        </figure>
        <article>
          <fieldset>
            <legend>MPH to M/S</legend>
            <label for="mph">MPH</label><br />
            <input type="number" id="mph" name="speed" /><br />
            <button id="miles" class="btn btn-primary">Convert</button><br />
            <input type="number" id="ms" name="speed" /><br />
            <label for="ms"> Meters Per Second</label><br />
          </fieldset>
        </article>
      </section>
    </div>

    <div>
      <section id="speed">
        <div class="container my-5 col-md-6 offsett-md-2">
          <section id="kmh to ms">
            <!--Image syntax-->
            <figure>
              <img
                src="{{ url_for('static', filename='speed-img.jpg') }}"
                width="400px"
                height="267px"
                alt="Speed"
                loading="lazy"
                class="img-fluid rounded col-md-6 float-md-end mb-3 ms-md-3" />
              <figcaption
                class="img-fluid rounded col-md-6 float-md-end mb-3 ms-md-3 text-center">
                KM/h to M/S
              </figcaption>
            </figure>

            <article>
              <fieldset>
                <legend>KM/h to M/S</legend>
                <label for="kmh">KM/h</label><br />
                <input type="number" id="kmh" name="speed" /><br />
                <button id="kilometers" class="btn btn-primary">Convert</button
                ><br />
                <input type="number" id="ms" name="speed" /><br />
                <label for="ms"> Meters Per Second</label><br />
              </fieldset>
            </article>
          </section>
        </div>
      </section>
    </div>
  </section>
</div>

{% endblock %}
