{% extends "base.html" %} {% block title %}Home{% endblock %} {%block content %}

<div>
  <section id="mph to ms">
    <!--Image syntax-->
    <figure>
      <img
        src="/static/speed-img.jpg"
        width="200px"
        height="200px"
        alt="Speed" />
      <figcaption>MPH to M/S</figcaption>
    </figure>
    <article>
      <fieldset>
        <legend>MPH to M/S</legend>
        <label for="mph">MPH</label><br />
        <input type="number" id="mph" name="speed" /><br />
        <button id="Miles">Convert</button><br />
        <input type="number" id="ms" name="speed" /><br />
        <label for="ms"> Meters Per Second</label><br />
      </fieldset>
    </article>
  </section>
</div>

<div>
  <section id="kmh to ms">
    <!--Image syntax-->
    <figure>
      <img
        src="/static/speed-img.jpg"
        width="200px"
        height="200px"
        alt="Speed" />
      <figcaption>KM/h to M/S</figcaption>
    </figure>

    <article>
      <fieldset>
        <legend>KM/h to M/S</legend>
        <label for="kmh">KM/h</label><br />
        <input type="number" id="kmh" name="speed" /><br />
        <button id="Kilometers">Convert</button><br />
        <input type="number" id="ms" name="speed" /><br />
        <label for="ms"> Meters Per Second</label><br />
      </fieldset>
    </article>
  </section>
</div>

{% endblock %}
