{% extends "base.html" %} {% block title %}Home{% endblock %} {%block content %}

<h1 align="center">FAQ's</h1>
<hr />
<article>
  <button class="accordian">What is the top speed of the Chiron?</button>
  <div class="panel">
    <p>The top speed of the Chiron is 276mph.</p>
  </div>

  <button class="accordian">
    What's the 0-60mph capability of the Chiron?
  </button>
  <div class="panel">
    <p>0-60 mph in 2.6 seconds.</p>
  </div>

  <button class="accordian">
    What is the 0-60mph capability of the Veyron?
  </button>
  <div class="panel">
    <p>0-60mph in 3.2 seconds.</p>
  </div>

  <button class="accordian">
    Is the Chiron a production car or a concept?
  </button>
  <div class="panel">
    <p>The Chiron is a production vehicle, and not a concept car.</p>
  </div>

  <button class="accordian">
    Is the Veyron a production car or a concept?
  </button>
  <div class="panel">
    <p>The Veyron is a production vehicle, and not a concept car.</p>
  </div>

  <button class="accordian">Why was the Veyron created?</button>
  <div class="panel">
    <p>To beat the land speed record of the McClaren F1.</p>
  </div>

  <button class="accordian">Is the customer service line 24 hours?</button>
  <div class="panel">
    <p>
      We run a 24 hour customer service, and our operatives are highly trained
      and are willing to deal with enquiries not matter the time of day.
    </p>
  </div>

  <button class="accordian">What's the refund policy?</button>
  <div class="panel">
    <p>
      Full monies will be refunded within 90 days, as long as the refund is
      in-line with our refund policy.
    </p>
  </div>

  <button class="accordian">How long will my car take to build?</button>
  <div class="panel">
    <p>
      Customers should have their chosen build completed within 90 days upon
      receipt of invoice.
    </p>
  </div>

  <button class="accordian">Where's my nearest Bugatti garage?</button>
  <div class="panel">
    <p>
      We do not have garages per se, but a valet service. Once booked we will
      fly our operatives out to you and we'll arrange for your car to be picked
      up and taken to the nearest centre. Even if this requires your car to be
      picked by and dropped to us via air. All costs are fully inclusive of
      repair and transportation, along with operative food, travel and
      accommodation costs included.
    </p>
  </div>
  <hr />
  {% endblock %}
</article>
