{% extends "base.html" %} {% block title %}Home{% endblock %} {%block content %}

<div class="container my-5 clearfix">
  <section id="History">
    <br /><br />
    <!--Image syntax-->
    <figure>
      <img
        src="/static/type-13.png"
        width="200px"
        hegiht="200px"
        alt="Bugatti Type 13"
        class="img-fluid rounded col-md-6 float-md-end mb-3 ms-md-3" />
      <figcaption>Bugatti Type 13</figcaption>
      <br />
      <article>
        The type 13 was one of the first automobiles designed and produced by
        Bugatti that actually attained success during the early years.
      </article>
    </figure>
  </section>
</div>

{% endblock %}
