{% extends "base.html" %} {% block title %}Home{% endblock %} {%block content %}

<div>
  <section id="history">
    <br /><br />
    <!--Image syntax-->
    <figure>
      <img
        src="/static/type-13.png"
        width="400px"
        hegiht="267px"
        alt="Bugatti Type 13"
        loading="lazy" />
      <figcaption>Bugatti Type 13</figcaption>
      <br />
      The type 13 was one of the first automobiles designed and produced by
      Bugatti that actually attained success during the early years.
    </figure>
  </section>
</div>

{% endblock %}
