{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}

<h1 class="text-center">Purchase Form</h1>

<div class="container my-5 py-5">
  <form id="purchase" method="POST">
    <div class="mb-3">
      <label for="cars" class="form-label">Choose Car to Purchase:</label>
      <select name="cars" id="cars" class="form-select" required>
        <optgroup label="Model">
          <option value="Veyron">Veyron</option>
          <option value="Chiron" selected>Chiron</option>
        </optgroup>
      </select>
    </div>

    <div class="mb-3">
      <label for="country" class="form-label">Delivery Country:</label>
      <input
        type="text"
        class="form-control"
        id="country"
        placeholder="Enter Country"
        required />
    </div>

    <div class="card mb-4">
      <div class="card-header">Billing details:</div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="firstName" class="form-label">First Name</label>
            <input
              type="text"
              id="firstName"
              class="form-control"
              placeholder="First Name"
              required />
          </div>
          <div class="col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input
              type="text"
              id="lastName"
              class="form-control"
              placeholder="Last Name"
              required />
          </div>
        </div>

        <div class="mb-3">
          <label for="companyName" class="form-label">Company Name</label>
          <input
            type="text"
            id="companyName"
            class="form-control"
            placeholder="Company Name" />
        </div>

        <div class="mb-3">
          <label for="addressLine1" class="form-label">Address Line 1</label>
          <input
            type="text"
            id="addressLine1"
            class="form-control"
            placeholder="Line 1"
            required />
        </div>

        <div class="mb-3">
          <label for="addressLine2" class="form-label">Address Line 2</label>
          <input
            type="text"
            id="addressLine2"
            class="form-control"
            placeholder="Line 2"
            required />
        </div>

        <div class="mb-3">
          <label for="city" class="form-label">City</label>
          <input
            type="text"
            id="city"
            class="form-control"
            placeholder="City"
            required />
        </div>

        <div class="mb-3">
          <label for="zipCode" class="form-label">Zip Code</label>
          <input
            type="text"
            id="zipCode"
            class="form-control"
            placeholder="Zip Code"
            required />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Enter Email"
            required />
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label">Phone</label>
          <input
            type="tel"
            id="phone"
            class="form-control"
            placeholder="**** **** ****"
            required />
        </div>

        <div class="mb-3">
          <label for="ccn" class="form-label">Card Details</label>
          <input
            type="tel"
            class="form-control"
            id="ccn"
            name="ccn"
            placeholder="**** **** **** ****"
            pattern="[0-9\s]{16}"
            inputmode="numeric"
            autocomplete="cc-number"
            maxlength="16"
            required />
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="expMonth" class="form-label">Expiry Month</label>
            <input
              type="tel"
              class="form-control"
              id="expMonth"
              name="expMonth"
              placeholder="MM"
              pattern="[0-9\s]{2}"
              inputmode="numeric"
              maxlength="2"
              required />
          </div>
          <div class="col-md-6">
            <label for="expYear" class="form-label">Expiry Year</label>
            <input
              type="tel"
              class="form-control"
              id="expYear"
              name="expYear"
              placeholder="YY"
              pattern="[0-9\s]{2}"
              inputmode="numeric"
              maxlength="2"
              required />
          </div>
        </div>

        <div class="mb-3">
          <label for="securityCode" class="form-label">Security Code</label>
          <input
            type="tel"
            class="form-control"
            id="securityCode"
            name="securityCode"
            placeholder="***"
            pattern="[0-9\s]{3}"
            inputmode="numeric"
            maxlength="3"
            required />
        </div>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Place Order</button>
      <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
  </form>
</div>

{% endblock %}
