{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {%block
content%}

<h1 align="center">Purchase Form</h1>

<div class="container my-5 py-5">

<form id="purchase" method="POST">
  <div for="cars" class="col-md-8">
    <label for="cars">Choose Car to Purchase:</label>
    <select name="cars" id="cars" data-mdb-select-init form="purchase" required>
      <optgroup label="Model">
      <option value="Veyron">Veyron</option>
      <option value="Chiron" selected>Chiron</option>
    </optgroup>
    </select>
  </div>
 

  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-body">
        <p class="text-uppercase h4 text-font">Delivery Country:</p>
        <div class="row">
          <div class="col-md-8">
              <input type="text" class="form-control" id="form11Example1" placeholder="Enter Country" required>
            </select>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Billing details:</h5>
        </div>
        <div class="card-body">
          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" id="form7Example1" class="form-control" placeholder="First Name" required/>
                  <label class="form-label" for="form7Example1"
                    >First name</label
                  >
                </div>
              </div>
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" id="form7Example2" class="form-control" placeholder="Last Name" required />
                  <label class="form-label" for="form7Example2"
                    >Last name</label
                  >
                </div>
              </div>
            </div>

            <!-- Company Name Text input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" id="form7Example3" class="form-control" placeholder="Company Name" />
              <label class="form-label" for="form7Example3">Company name</label>
            </div>

            <!-- Address text input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" id="form7Example4" class="form-control" placeholder="Line 1" required/>
              <label class="form-label" for="form7Example4">Address</label>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" id="form7Example4" class="form-control" placeholder="Line 2" required/>
              <label class="form-label" for="form7Example4">Address</label>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" id="form7Example4" class="form-control" placeholder="City" required/>
              <label class="form-label" for="form7Example4">Address</label>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" id="form7Example4" class="form-control" placeholder="Zip Code" required />
              <label class="form-label" for="form7Example4">Address</label>
            </div>

            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="form7Example5" class="form-control" placeholder="Enter Email" required />
              <label class="form-label" for="form7Example5">Email</label>
            </div>

            <!-- Phone number input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="tel" id="form7Example6" class="form-control" placeholder="**** **** ****" required/>
              <label class="form-label" for="form7Example6">Phone</label>
            </div>

            <!--Card Details Input-->
            <div data-mdb-input-init class="form-outline mb-4">
                <label for="ccn">Card Details:</label>
                <input
                  type="tel"
                  inputmode="numeric"
                  pattern="[0-9\s]{16}"
                  autocomplete="cc-number"
                  maxlength="16"
                  class="form-control"
                  id="ccn"
                  name="ccn"
                  placeholder="**** **** **** ****"
                  required />
                <label for="exccn">Expiry Date:</label>
                <input
                  type="tel"
                  inputmode="numeric"
                  pattern="[0-9\s]{2}"
                  autocomplete="on"
                  maxlength="2"
                  class="form-control"
                  id="exccn"
                  name="exccn"
                  placeholder="**"
                  required />
                /
                <input
                  type="tel"
                  inputmode="numeric"
                  pattern="[0-9\s]{2}"
                  autocomplete="on"
                  maxlength="2"
                  class="form-control"
                  id="exccn"
                  name="exccn"
                  placeholder="**"
                  required />
                <label for="exccn">Security Code:</label>
                <input
                  type="tel"
                  inputmode="numeric"
                  pattern="[0-9\s]{3}"
                  autocomplete="on"
                  maxlength="3"
                  class="form-control"
                  id="exccn"
                  name="exccn"
                  placeholder="***"
                  required />
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>


    <!--Section: Design Block-->
    <section>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0 text-font text-uppercase">Delivery address:</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row mb-4">
                  <div class="col">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="text"
                        id="form11Example1"
                        class="form-control"
                        placeholder="First Name"
                        required />
                      <label class="form-label" for="form11Example1"
                        >First name</label
                      >
                    </div>
                  </div>
                  <div class="col">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="text"
                        id="form11Example2"
                        class="form-control"
                        placeholder="Last Name"
                        required />
                      <label class="form-label" for="form11Example2"
                        >Last name</label
                      >
                    </div>
                  </div>
                </div>

                <!-- Company Name Text input -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" id="form11Example3" class="form-control" placeholder="Enter Company Name" />
                  <label class="form-label" for="form11Example3"
                    >Company name</label
                  >
                </div>

                <!-- Address Text input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="form7Example4" class="form-control" placeholder="Line 1" required/>
                    <label class="form-label" for="form7Example4">Address</label>
                  </div>
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="form7Example4" class="form-control" placeholder="Line 2" required />
                    <label class="form-label" for="form7Example4">Address</label>
                  </div>
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="form7Example4" class="form-control" placeholder="City" required/>
                    <label class="form-label" for="form7Example4">Address</label>
                  </div>
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="form7Example4" class="form-control" placeholder="Zip Code" required />
                    <label class="form-label" for="form7Example4">Address</label>
                  </div>

                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    type="email"
                    id="form11Example5"
                    class="form-control"
                    placeholder="Enter Email"
                    required />
                  <label class="form-label" for="form11Example5">Email</label>
                </div>

                <!-- Phone Number input -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    type="tel"
                    id="form11Example6"
                    class="form-control"
                    placeholder="**** **** ****"
                    required />
                  <label class="form-label" for="form11Example6">Phone</label>
                </div>

                <!-- Message input -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <textarea
                    class="form-control"
                    id="form11Example7"
                    rows="4"
                    placeholder="Additional Information...."
                    wrap="hard"></textarea>
                  <label class="form-label" for="form11Example7"
                    >Additional information</label
                  >
                </div>
              </form>
            </div>
          </div>
          <div class="text-center">
            <button
              type="button"
              data-mdb-button-init
              data-mdb-ripple-init
              class="btn button-order col-md-10">
              Place order
            </button>
            <button type="reset" data-mdb-button-init
            data-mdb-ripple-init
            class="btn button-order col-md-10"></button>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Design Block-->
  </form>
</div>

{% endblock %}
